[Desktop Entry]
Name=Neovim
Comment=Text editor
Exec=alacritty -e nvim %F
Icon=neovim
Terminal=true
Type=Application
Categories=Utility;TextEditor;Development;
MimeType=text/plain;text/x-shellscript;text/x-python;
Actions=new-window;


